<div>
    <form id="dynamicForm">


        <!-- <div ng-repeat="itemToAdd in itemsToAdd">-->
        <label>Field Name:</label>
        <input type="text" id="name" ng-model="fieldName" />
        </br>


        <label>Field Type:</label>
        <select id="fieldType" ng-model="fieldType" ng-change="changetextbox()">
           
            <option>Radio</option>
            <option>CheckBox</option>
            <option>TextBox</option>
            <option>Dropdown</option>
        </select>
        </br>

        <label>Field options:</label>
        <input type="text" id="options" ng-model="options" />
        <!--<button type ="button" ng-click="moreOptions(dynamicForm)">Add More</button>-->
        </br>

        <button type="button" ng-click="submitDynamicForm()">Add Field</button>
      
        <br><br>
        
       <div>
           <table class="table table-bordered">
    <thead>
    <tr>
        <th>Added field</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Reorder</th>
        
    </tr>
    <tr ng-repeat="formfield in form">
        <td>
             {{formfield.key}}
           
        </td>
        <td><button type="button" ng-click="editField(formfield)">Edit Field</button>
       <button type="button" ng-click="update(formfield)">Update Field</button></td>
        <td><button type="button" ng-click="deleteField(formfield)">Delete Field</button></td>
        <td><a href="" class="shiftUp" ng-click="pushDataUp(formfield)"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a href="" class="shiftDown" ng-click="pushDataDown(formfield)"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
    </tr>
    </thead>
       </div>
    </form>

</div>