<h3>Please fill the form</h3>

<form id = "myForm" >
<label>Enter Car name:</label>
<input type ="text" id = "name"/ ng-model="name"></br>
<label>Enter Car model:</label>
<input type ="text" id = "mod" ng-model="mod"/></br>
<label>Enter Company name:</label>
<input type ="text" id = "company" ng-model="company"/></br>
<label>Enter Manufacturing Year:</label>
<input type ="text" id = "yearofmanufacturing" ng-model="yearofmanufacturing"/></br>

<button type ="button" ng-click="submitForm()">Submit</button>


</form>