* , *:before, *:after{
-webkit-box-sizing:border-box; padding :1px;}
                  


body {margin:0; padding:0; font-family:Arial}

.wrapper {
 margin:0 auto; height :100px;
    border-bottom:3px solid red
}

#cont2 {
    margin-top: 50px;
}

.logo { display:inline-block; width:160px; height:60px; background:#c2c2c2;padding:20px 20px;float:left; text-align:center;}
.btn {width:130px; height:40px; background:#bebebe;padding:10px 10px;text-align:center;}
#btn2 {width:150px; height:40px; background:#bebebe;padding:10px 10px;text-align:center;}
