<h3>JSON data in table Format</h3>

 <table class="table table-bordered">
    <thead>
    <tr>
       <th>label</th>
      <th>href</th>
       <th>source</th>
       <th>updated</th>
       <th>status</th>
       <th>extension</th>
       <th>class</th>
       <th>value</th>
       <th>dimension</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-repeat ="data in tableData">
                <div ng-if="angular.isString(data)">
                {{angular.isString(data)}}
                </div>
                <div ng-if="!angular.isString(data)">
                Object: {{angular.isString(data)}}
                </div>
             </td> 
        </tr>
    </tbody>
</table>